.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--pf-slate-700);
  border-radius: 10px;
  border: 2px solid var(--pf-slate-900);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--pf-slate-600);
}
